---
layout: default
title: Team
permalink: /team
---
<style>
  div.uk-grid-small {
    min-height: 70%;
  }
</style>

<h1 class="uk-heading-line uk-text-center">Team</h1>
<div class="uk-grid-small uk-child-width-expands@s uk-margin uk-margin-left uk-margin-right uk-flex-center" uk-grid>
  {% for team_member in site.team_members %}
  <div class="uk-card uk-card-dropdown uk-card-small uk-card-default uk-text-center uk-card-hover uk-visible-toggle">
    <div class="uk-media-top">
      <img class="uk-border-circle uk-margin-small-bottom uk-margin-medium-top uk-width-small	uk-height-small"
        src={{ team_member.img }} alt="Avatar">
    </div>
    <div class="uk-card-body uk-text-center">
      <h3 class="uk-card-title">{{ team_member.name }}</h3>
      <h5 class="uk-margin">Aufgaben: {{ team_member.aufgaben }}</h5>
      <ul class="uk-hidden-hover-notouch">
        <h5 class="uk-margin"> Studiengang: {{ team_member.studiengang }} - {{ team_member.vertiefung }}</h5>
        <p>{{ team_member.content | markdownify }}</p>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
