<footer class="site-footer">

    <div class="uk-section uk-light uk-background-cover" style="background-image: url(assets/images/black_4.jpg)">
        <div class="uk-container">
            <div class="uk-grid-match uk-child-width-1-3@m uk-grid-divider" uk-grid>

                <div class="uk-child-width-expand">
                    <div><a href="{{site.instagram}}" uk-icon="icon: instagram; ratio: 1.5;"></a></div>
                    <div> <a href="{{site.facebook_link}}" uk-icon="icon: facebook; ratio: 1.5"></a></div>
                    <div> <a href="{{site.youtube_link}}" uk-icon="icon: youtube; ratio: 1.5"></a></div>
                </div>



                <div>
                    <div>
                        <span uk-icon="icon: mail; "></span>
                        <a class="uk-link-text" href="mailto:{{site.contact_email}}">{{site.contact_email}}</a>
                    </div>
                    <div>
                        <span uk-icon="icon: receiver; "></span>

                        {{site.contact_tel}}

                    </div>
                    <div>
                        <span uk-icon="icon: location; "></span>

                        {{site.contact_room}}

                    </div>
                </div>
                <div>
                    <a class="uk-link" href="/impressum">Impressum</a>
                    <a class="uk-link" href="/datenschutz">Datenschutz</a>
                </div>
            </div>

        </div>
    </div>

</footer>