<header class="site-header">
    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent ; top: 50;">
        <nav class="uk-navbar-container uk-navbar-transparent uk-visible@s" uk-navbar>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li {% if page.url == "/index" %} class="uk-active" {% endif %}><a href="/">Startseite</a></li>
                    <li {% if page.url == "/team" %} class="uk-active" {% endif %}><a href="/team">Team</a></li>
                    <li {% if page.url == "/fahrzeuge" %} class="uk-active" {% endif %}><a href="/fahrzeuge">Fahrzeuge</a></li>
                    <li {% if page.url == "/galerie" %} class="uk-active" {% endif %}><a href="/galerie">Galerie</a></li>
                    <li {% if page.url == "/mitmachen" %} class="uk-active" {% endif %}><a href="/mitmachen">Mitmachen</a></li>
                </ul>
            </div>
        </nav>
        <nav class="uk-navbar-container uk-navbar-transparent uk-hidden@s" uk-navbar>
            <div class="uk-navbar-right uk-margin-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a class="uk-navbar-toggle uk-hidden@s" uk-toggle="target: #sidenav" uk-navbar-toggle-icon></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div id="sidenav" uk-offcanvas="flip: true; overlay: true" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
            <li {% if page.url == "/index" %} class="uk-active" {% endif %}><a href="/">Startseite</a></li>
            <li {% if page.url == "/team" %} class="uk-active" {% endif %}><a href="/team">Team</a></li>
            <li {% if page.url == "/fahrzeuge" %} class="uk-active" {% endif %}><a href="/fahrzeuge">Fahrzeuge</a></li>
            <li {% if page.url == "/galerie" %} class="uk-active" {% endif %}><a href="/galerie">Galerie</a></li>
            <li {% if page.url == "/mitmachen" %} class="uk-active" {% endif %}><a href="/mitmachen">Mitmachen</a></li>
        </ul>
    </div>
</div>