$body-bg-color: #2a7ae2;
$main-tl-color: #4c566a;
$accent-tl-color: #2e3440;
$white: #fff;
$circle-color: #999;
$circle-bg: #f8f8f8;
$nav-text-color: #666;
$text-color: #0f0f0f;

html {
  background: transparent;
  // Fix WCAG warnings
  color: $text-color !important;
}
// Fix WCAG warnings

.uk-navbar-nav > li > a {
  color: $nav-text-color;
}

body {
  background: url('/assets/images/clouds.jpg');
  background-attachment: fixed;
  background-color: $body-bg-color;
  background-position: left top;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  position: absolute;
  width: 100%;
}

.uk-card-dropdown {
  background: transparent;
  box-shadow: none;
  margin: 1rem;
  padding: 0;
  width: 30rem;
}
// Fix for touch devices
@media (hover: hover) {
  .uk-visible-toggle:not(:hover):not(:focus) .uk-hidden-hover-notouch:not(:focus-within) {
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
  }
}

img {
  background-color: $white;
}

.icon-circle {
  align-items: center;
  background: $circle-bg;
  border-radius: 500px;
  box-sizing: border-box;
  color: $circle-color;
  display: inline-flex;
  height: 36px;
  justify-content: center;
  vertical-align: middle;
  width: 36px;
}

.site-footer-team {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.timeline {
  position: relative;
  padding-bottom: 100px !important;
}

.timeline::after,
.timeline::before {
  content: '';
  width: 7px;
  position: absolute;
  left: 50%;
  z-index: 979;
  transform: translateX(-50%);
}

.timeline::before {
  top: 0;
  height: 95%;
  background: $main-tl-color;
}

.timeline::after {
  background: linear-gradient(to bottom, $main-tl-color 0%, transparent 100%);
  top: 95%;
  bottom: 0;
}

.timeline-img {
  width: 40px;
  height: 40px;
  background: $accent-tl-color;
  border-radius: 50%;
  position: absolute;
  border: 7px solid $main-tl-color;
  z-index: 979;
  left: 50%;
  margin-top: 37px;
  margin-left: -20px;
}
//
@media screen and (max-width: 768px) {
  .timeline::after,
  .timeline::before {
    left: 20px;
  }

  .timeline-img {
    left: 0;
  }
}

.uk-offcanvas-container {
  position: absolute !important;
}