<!DOCTYPE html>
<html>

    {% include head.html %}

    <body uk-parallax="bgy: -200" style="background-image: url('assets/images/clouds.jpg');">

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

    </body>

</html>