---
layout: default
---
{% include md_container.html margin_bottom="uk-margin-xlarge-bottom" %}

<div class="uk-section uk-section-muted uk-padding-remove-vertical">
    <div class="uk-container">
        <div class="timeline uk-padding-large uk-padding-remove-horizontal">
            <div class="uk-grid-small uk-child-width-expands@s uk-margin uk-margin-left uk-margin-right uk-flex-center" uk-grid>
                {% assign vehicles = site.vehicles | sort: 'year' | reverse %}
                {% for vehicle in vehicles %}
                {% capture cycle_class %}{% cycle 'uk-card-media-left', 'uk-flex-last@s uk-card-media-right' %}{% endcapture %}

                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-margin-large-top uk-padding-remove-left" uk-grid>
                    <div class="timeline-img"></div>
                    <div class="{{ cycle_class }} uk-cover-container">
                        <img src="{{ vehicle.img }}" alt="Auto {{ vehicle.year }}" uk-cover>
                        <canvas width="600" height="400"></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{ vehicle.year }}</h3>
                            <p>{{ vehicle.content | markdownify }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>