---
layout: default
---
{% include md_container.html margin_bottom="uk-margin-small-bottom" %}
<noscript style="font-size:1.5em; color: black;">Für die Darstellung der Galerie bitte Javascript aktivieren</noscript>

<div class="uk-width-1-2@m uk-align-center uk-margin-large-bottom" uk-slideshow="animation: scale">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        <ul class="uk-slideshow-items">
            {% assign image_files = site.static_files | where: "image", true %}
            {% for myimage in image_files %}
            <li>
                <img src="{{ myimage.path }}" alt="Ostfalia-Cup Bild" uk-cover>
            </li>
            {% endfor %}
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
</div>