---
layout: default
---
<style>
    div.uk-section {
        height: 100%;
    }

    div.uk-dark {
        height: 100%;
    }

    .site-header {
        position: absolute;
        left: 0;
        right: 0;
    }
</style>

{% for abschnitt in page.abschnitte %}
<div class="uk-section uk-{{abschnitt.scheme}} uk-background-cover uk-height-large" uk-parallax="bgy: -80" style="background-image: url('assets/images/{{abschnitt.background}}');">
    <div class="uk-margin-large-top uk-align-center uk-text-center uk-width-1-2@m uk-padding  uk-padding-remove-bottom" {% if abschnitt.parallax == true %} uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.4" {% endif %}>
        <h1 class="uk-heading-line uk-text-center">{{ abschnitt.headline }}</h1>
        {{ abschnitt.text }}
    </div>
</div>
{% endfor %}