---
layout: default
---
{% include md_container.html margin_bottom="uk-margin-small-bottom" %}

<div class="uk-flex uk-flex-center uk-flex-wrap uk-margin-large-bottom" data-uk-grid-margin="">
    {% for thema in page.themen %}
    <div class="uk-width-1-1@s uk-width-1-5@m uk-text-center uk-margin-medium-top">
        <div>
            <span class="icon-circle" uk-icon="icon: {{thema.icon}}"></span>
        </div>
        <h5 class="uk-margin-bottom-remove uk-margin-top">{{thema.name}}</h5>
    </div>
    {% endfor %}
</div>